.article {
  display: inline-block;
  text-align: left;
  position: relative;
  z-index: 5;
  border-radius: var(--pxRadius);
  box-shadow: 0px 4px 10px gainsboro;
  border: 1.15px solid var(--lightGray);
  max-width: 100%;
  margin: 10px;
  width: 400px;
}

#articleType {
  height: 25px;
  width: 25px;
  opacity: var(--opacity);
  border-radius: 50%;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  color: white;
  line-height: 25px;
  position: absolute;
  text-align: center;
  right: 20px;
  top: 17px;
}

.articleDetails {
  text-align: center;
}

.articleName {
  text-align: left;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 30px;
}

.articleBody {
  height: 75px;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 10px;
}

.articleProgram, .openArticle, .articleCategory {
  margin: auto;
  width: 129px;
  display: inline-block;
}

.articleProgram {
  background-color: var(--green);
}

.articleCategory {
  background-color: var(--blue);
}

.process {
  background-color: var(--teal);
}

.reference {
  background-color: var(--drkpurple);
}