:root {
  --black: #202123;
  --white: white;
  --opacity: 1 !important;
}

.tooltiptext {
  background-color: var(--black) !important;
}

#scruffyMessage {
  color: var(--white) !important;
}

#scruffy {
  opacity: 1 !important;
}

#templateProgramWithHash, #quickAccess, #clear-search {
  background-color: var(--white) !important;
  opacity: 1 !important;
}

#copyPortionBtn svg, #editBtn svg, #removeConfirmBtn svg, #snippetsBtn svg, #replyBtn svg, #shareBtn svg, #quoteBtn svg, #infoBtn svg {
  fill: var(--white);
}

html, body, #data-table, #searchBar, .header, .menubar {
  background-color: var(--black) !important;
}

#title, #subtitle, #searchBar, #clearSearch, #templateCount, .template, .templateBodyUser, .noResults {
  color: var(--white) !important;
}

.searchBarRow, .template {
  box-shadow: none !important;
}

#templatesTable {
  background-color: white;
}