:root {
  --yellow: #ffcb0a;
  --orange: #f39317;
  --drkorange: #e9681b;
  --blue: #00a1de;
  --teal: #10a0b6;
  --drkblue: #005677;
  --green: #52b700;
  --drkgreen: #0b863c;
  --orange: #e9681b;
  --red: #c83131;
  --drkred: #c13f22;
  --yellow: #eabc00;
  --drkyellow: #d2a900;
  --purple: #8d33aa;
  --drkpurple: #702888;
  --cyan: #0bc1b6;
  --gray: #686868;
  --lightGray: #b4b4b4;
  --darkGray: #878787;
  --greenAlt: rgba(0, 185, 113);
  --greenAltLight: rgba(0, 224, 137);
  --pink: #e7188d;
  --categoryOpacity: 0.6;
  --navbarOpacity: 0.6;
  --fivePxRadius: 7px;
  --vertSideNavWidth: 350px;
  /* Font for template titles */
  --gothicFont: 'Gothic A1', sans-serif;
  --robotoFont: 'Roboto', sans-serif;
  --arialFont: 'Arial', sans-serif;
  /* Font for title */
  --titleFont: 'Oleo Script', cursive;
  /* Dimensions for template for user console */
  --template-w: 415px;
  /* Dimensions for templates in admin console */
  --templateAdmin-w: 415px;
  --templateBodyUser-h: 200px;
  --templateBodyUser-w: 357px;
  --templateBodyAdmin-h: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #E94E3D;
  background-color: white;
  padding: 12px 0px 10px 12px;
  text-decoration: none !important;
  text-align: left;
  display: block;
  cursor: pointer;
}

.show {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

a {
  outline: none !important;
}

p {
  font-family: var(--arialFont);
  margin-bottom: 0px !important;
}

h2 {
  font-family: var(--arialFont);
  font-size: 17px !important;
  vertical-align: middle;
  text-align: left;
  font-weight: 500 !important;
  margin-top: 15px !important;
}

h4 {
  font-family: var(--gothicFont);
  font-size: 16px !important;
  vertical-align: middle;
}

h5 {
  font-family: var(--gothicFont);
  font-style: italic !important;
  color: #B8B8B8 !important;
}

#personalIco {
  height: 19.07px;
  width: 19.07px;
}

*:focus {
  text-decoration: none;
}

#title {
  text-align: center;
  font-size: 120px;
  font-family: var(--titleFont);
  padding: 0 3% 0 3%;
  margin: 0 auto;
  cursor: pointer;
  color: #585858;
}

.wordWall {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  opacity: .2;
}

#subtitle {
  text-align: center;
  font-size: 18px !important;
  font-family: var(--arialFont);
  font-weight: 100;
  padding: 0 3% 5px 3%;
  letter-spacing: 1px;
  margin: 0;
}

#data-table {
  font-family: var(--gothicFont);
  display: none;
  padding: 0px;
  text-align: center;
}

#search-bar {
  width: 100%;
  height: 60px;
  font-size: 25px;
  font-family: var(--gothicFont);
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 10px #E8E8E8;
}

#clear-search {
  position: absolute;
  color: var(--darkGray);
  right: 0px;
  top: 1px;
  bottom: 0;
  width: 50px;
  height: 58px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--gothicFont);
  border-radius: 0px 5px 5px 0px;
  padding-top: 8px;
  padding-bottom: 15px;
  background-color: #e1e1e1;
  border-left: 1px solid var(--darkGray);
  border-right: 1px solid var(--darkGray);
}

#clear-search:active {
  font-weight: 200;
}

#f, #e, #t, #c, #h {
  display: inline-block;
  opacity: 0;
  position: relative;
  left: 0px !important;
  -webkit-animation-name: move;
  -webkit-animation-delay: 10ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
}

#f {
  -webkit-animation-duration: 900ms;
}

#e {
  -webkit-animation-duration: 700ms;
}

#t {
  -webkit-animation-duration: 500ms;
}

#c {
  -webkit-animation-duration: 300ms;
}

#h {
  -webkit-animation-duration: 100ms;
}

@keyframes move {
  from {
    opacity: 0;
    left: -5px;
  }

  to {
    opacity: 1;
    left: 0px;
  }
}

#templateCount {
  position: absolute;
  right: 70px;
  top: 0;
  bottom: 0;
  height: 28px;
  margin: auto;
  font-size: 22px;
  color: var(--darkGray);
}

.template {
  display: inline-block;
  padding: 1em 2em 2em 2em;
  margin: 10px 5px 5px 5px;
  border-radius: var(--fivePxRadius);
  box-shadow: 0px 4px 10px gainsboro;
  border: 1.15px solid #a9a9a9;
}

.templateClicked {
  border: 1.15px solid var(--greenAltLight);
}

.hide {
  display: none;
}

.error {
  border: 2px solid red !important;
  border-radius: var(--fivePxRadius) !important;
}

.template:hover {
  box-shadow: 0px 4px 10px var(--lightGray);
}

.vettedCol {
  padding-top: 13px !important;
  padding-right: 13px !important;
  padding-left: 0px !important;
  cursor: pointer;
}

.overflow {
  overflow: visible !important;
  cursor: pointer;
}

/* Start styling for buttons on template */
.btn {
  background-color: white;
}

#submitBtn {
  margin-bottom: 15px;
}

.licenseModalButtons {
  margin: 0em 1em 1em 1em;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}

.buttonStyle {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.filterButtonStyle {
  background: white;
  color: #E94E3D;
  border: solid 1px #E94E3D;
  outline: none;
  border-radius: var(--fivePxRadius);
  ;
  padding: 5px;
  font-size: 15px;
}

.tooltiptext {
  top: -80px;
  left: -125px;
  width: 200px;
  height: 80px;
  padding: 10px 13px 10px 13px;
  position: absolute;
  background-color: #E0E0E0;
  border-radius: var(--fivePxRadius);
  text-align: left;
  visibility: hidden;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 65%;
  border: 1px solid black;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: #e0e0e0 transparent transparent transparent;
}

.vettedCol:active .tooltiptext {
  visibility: visible;
}

#copyPortionBtn svg, #editBtn svg, #removeConfirmBtn svg, #snippetsBtn svg, #replyBtn svg, #shareBtn svg, #quoteBtn svg {
  height: 18px;
  margin: 0px 3px 0px 3px;
  vertical-align: middle;
  fill: var(--gray);
}

#versionsBtn svg {
  height: 18px;
  margin: 0px 3px 0px 3px;
  vertical-align: middle;
  fill: var(--greenAlt);
}

#copyPortionBtn svg:active, #editBtn svg:active, #removeConfirmBtn svg:active, #versionsBtn svg:active, #snippetsBtn svg:active, #replyBtn svg:active, #shareBtn svg:active, #quoteBtn svg:active {
  opacity: 0.5 !important;
}

#copyPortionBtn svg:hover {
  fill: var(--green);
  opacity: 0.8;
}

#editBtn svg:hover {
  fill: var(--blue);
  opacity: 0.8;
}

#removeConfirmBtn svg:hover {
  fill: var(--red);
  opacity: 0.8;
}

#versionsBtn svg:hover {
  fill: var(--greenAlt);
  opacity: 0.8;
}

#snippetsBtn svg:hover {
  fill: var(--orange);
  opacity: 0.8;
}

#replyBtn svg:hover {
  fill: var(--purple);
  opacity: 0.8;
}

#quoteBtn svg:hover {
  fill: var(--yellow);
  opacity: 0.8;
}

#shareBtn svg:hover {
  fill: var(--drkblue);
  ` opacity: 0.8;
  `
}

#snippetsBody, #version0Snippet, #version1Snippet, #version2Snippet, #version3Snippet {
  padding: 15px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.modal-header, .modal-footer {
  border: none !important;
}

/* End styling for buttons on template */
.templateBodyContainer {
  position: relative;
  word-wrap: break-word;
}

#templateBody, #templateTags, #templateUpdatedDate {
  text-align: left;
}

#templateBody {
  overflow: auto;
  width: auto;
  color: #686868 !important;
  cursor: pointer;
  margin: 5px 10px 10px 0px;
  padding-right: 10px;
  word-wrap: break-word;
  text-align: left;
  font-family: var(--arialFont);
}

#templateBodyError {
  overflow: auto;
  width: auto;
  color: #686868 !important;
  cursor: pointer;
  margin: 0px 10px 10px 0px;
  margin-top: 5px;
  word-wrap: break-word;
  text-align: left;
  display: absolute;
  font-family: var(--arialFont);
}

/* Styling for versions */
#versionOriginalPill, #version0Pill, #version1Pill, #version2Pill, #version3Pill {
  cursor: pointer;
}

#version0Title, #version1Title, #version2Title, #version3Title {
  cursor: text;
}

.versions {
  display: none;
}

.instructions {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: -5px;
  color: var(--drkorange)
}

.accountTypes, .countries, .subjects, .licenses {
  position: absolute;
  font: var(--arialFont);
  color: var(--gray);
  text-align: center;
  background-color: white;
  height: 220px;
  cursor: pointer;
  padding: 12px;
  display: none;
  width: 360px;
  margin-top: 5px;
}

.accountTypes, .countries, .subjects, .licenses {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.type, .countryCode, .subjectQuantity, .numberLicenses, .addSpanish {
  background-color: var(--green);
  border-radius: var(--fivePxRadius);
  border: 1px solid var(--green);
  margin: 2px;
  opacity: .75;
  color: white;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.type, .countryCode, .subjectQuantity, .numberLicenses, .addSpanish {
  font-weight: 500;
  font-size: 24px;
  padding: 5px;
}

.type:hover, .countryCode:hover, .subjectQuantity:hover, .numberLicenses:hover, .addSpanish:hover {
  opacity: 1;
}

.version0, .version1, .version2, .version3 {
  position: absolute;
  font: var(--arialFont);
  color: var(--gray);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.version0 {
  top: 0;
  left: 0;
}

.version1 {
  top: 0;
  left: 50%;
}

.version2 {
  top: 50%;
  left: 0;
}

.version3 {
  top: 50%;
  left: 50%;
}

.versionDescription {
  display: inline-block;
  line-height: 107.5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.versionDescription:hover {
  color: var(--greenAlt);
}

.versionDescription:active {
  color: var(--greenAlt);
  font-size: 18px;
}

.line {
  vertical-align: middle;
  margin: 0 !important;
}

.details {
  display: inline;
  font-family: var(--gothicFont);
  font-size: 15px;
  text-align: left !important;
  float: left;
  cursor: pointer;
}

#copyPortion, #removeConfirm, #edit, #versions, #snippets, #reply, #share, #quote {
  display: inline-block;
  padding: 0px;
}

/* Tag colors */
.tags, .category {
  font-family: var(--gothicFont);
  font-size: 14px !important;
  text-align: right;
}

.tags {
  color: var(--lightGray);
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#categorySpan {
  text-align: right;
  color: white;
  border-radius: var(--fivePxRadius);
  opacity: var(--categoryOpacity);
  border: 1.15px solid black;
}

.audio, .quia {
  padding: 3px 11px 3px 11px !important;
  background: var(--cyan);
}

.analy {
  padding: 3px 11px 3px 11px !important;
  background: var(--green);
}

.diagn, .licen {
  padding: 3px 11px 3px 11px !important;
  background: var(--purple);
}

.netwo, .purch {
  padding: 3px 11px 3px 11px !important;
  background: var(--drkorange);
}

.repor, .activ {
  padding: 3px 11px 3px 11px !important;
  background: var(--yellow);
}

.roste, .trial {
  padding: 3px 11px 3px 11px !important;
  background: var(--red);
}

.signi, .site {
  padding: 3px 11px 3px 11px !important;
  background: var(--orange);
}

.skill {
  padding: 3px 11px 3px 11px !important;
  background: var(--blue);
}

.getti, .resou {
  padding: 3px 11px 3px 11px !important;
  background: var(--drkyellow);
}

.smart, .quote {
  padding: 3px 11px 3px 11px !important;
  background: var(--green);
}

.keys, .class {
  padding: 3px 11px 3px 11px !important;
  background: var(--pink);
}

.cours, .gradi, .media, .repor, .quizz, .surve, .sso, .auto, .cance, .refun, .other {
  color: white;
  padding: 3px 11px 3px 11px !important;
  background: var(--gray);
}

.space {
  width: 100vw;
  text-align: center;
}

.bottom {
  padding-top: 5em;
}

#vetted {
  fill: var(--green);
  opacity: 0.7;
}

#notVetted {
  fill: var(--yellow);
  opacity: 0.7;
}

#notVettedUser {
  fill: var(--teal);
  opacity: 0.7;
}

/* Change glow of search box */
.form-control:focus {
  border-color: #00aeef;
}

.glyphicon {
  font-size: 20px;
}

.new-template, .editLicenseGroup, .addLicenseGroup {
  padding: 0.5em 1em 0em 1em;
}

.editLicenseGroup, .addLicenseGroup {
  display: grid;
  margin: auto;
  grid-template-columns: .25fr .25fr .15fr .15fr .20fr .25fr .20fr .20fr;
  grid-column-gap: 1%;
}

.editLicenseGroupLabels, .addLicenseGroupLabels {
  display: grid;
  margin: auto;
  grid-template-columns: .25fr .25fr .15fr .15fr .20fr .25fr .20fr .20fr;
  grid-column-gap: 1%;
  padding: 1em 1em 0em 1em;
}

#addLicenseBtn {
  color: white;
  border-radius: var(--fivePxRadius);
  padding: 7px 15px 7px 15px;
  background: var(--blue);
}

#tableTitle {
  text-align: left;
  font-weight: 700;
  font-family: var(--robotoFont) !important;
}

.licenseLabels {
  display: grid;
  margin-top: 3%;
  grid-template-columns: .25fr .25fr .25fr .25fr .25fr .25fr .25fr .25fr .25fr;
  font-size: 17px;
}

#manageTemplates #modalTemplates {
  width: 600px !important;
}

#manageLicenses #modalLicenses {
  width: 80% !important;
}

#addLicense #modalLicenses {
  width: 80% !important;
}

.editor {
  width: 100%;
  height: 600px !important;
}

/* START Navbar styling */
#navGreeting {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 10px 10px 10px;
}

#logout {
  text-align: center;
  padding-bottom: 5px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logout button {
  font-family: var(--gothicFont);
  font-size: 15px;
}

.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 0px !important;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: var(--darkGray);
  border: 1px var(--darkGray) solid;
  margin: 4px 0;
  cursor: pointer;
  border-radius: var(--fivePxRadius);
}

.vertsidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  /*opacity: var(--navbarOpacity);*/
  background-color: #F5F5F5;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.menubar {
  margin: 15px 0px 0px 15px;
  cursor: pointer;
}

/* The navigation menu links */
.menuOptions a {
  padding: 11px 8px 11px 30px;
  display: block;
  width: var(--vertSideNavWidth);
  background-color: white;
  border-bottom: 1px #DDDDDD solid;
  border-right: 1px #DDDDDD solid;
  color: #555555;
  font-size: 16px;
  text-decoration: none;
}

.menuOptions a:hover {
  text-decoration: none;
  width: 100%;
  background-color: #F5F5F5;
  color: #555555;
}

.menuOptions a:focus {
  text-decoration: none;
  width: 100%;
  background-color: #F5F5F5;
  color: #555555;
}

.menuOptionsIcon {
  height: 20px;
  width: 50px;
  transform: translateY(3px);
  padding-right: 18px;
}

.menuOptions a:hover #home {
  fill: var(--lightGray);
}

.menuOptions a:hover #plus {
  fill: var(--green);
}

.menuOptions a:hover #wrench {
  fill: var(--purple);
}

.menuOptions a:hover #users {
  fill: var(--teal);
}

.menuOptions a:hover #errors {
  fill: var(--red);
}

.menuOptions a:hover #money {
  fill: var(--orange);
}

.menuOptions a:hover #clock {
  fill: var(--pink);
}

.menuOptions a:hover #userGuide {
  fill: var(--yellow);
}

.menuOptions a:hover #logout {
  fill: var(--blue);
}

/* When you mouse over the navigation links, change their color */
.profile {
  padding: 75px 0px 75px 0px;
  width: var(--vertSideNavWidth);
  text-align: center;
  position: relative;
}

.profileBackground {
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("typewriter-sm.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .75;
  width: 100%;
  height: 100%;
}

.profileName {
  font-family: var(--arialFont);
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.profileTeam {
  font-size: 20px !important;
  font-weight: 400;
  color: white;
}

.profileImage {
  margin: 0 auto;
  border-radius: 50%;
  display: table;
  border: 2px white solid;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
  text-decoration: none;
  color: var(--red);
  -webkit-text-stroke: 1px white;
  font-weight: 600;
}

.closebtn:hover {
  text-decoration: none;
  color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .vertsidenav {
    padding-top: 15px;
  }

  .vertsidenav a {
    font-size: 18px;
  }
}

#errorCount {
  display: inline;
}

#scruffy {
  height: 200px;
  display: none;
}

#scruffyMessage {
  font-size: 20px;
  margin: 0px 40px 20px 40px;
  display: none;
}

#scruffyNote {
  font-size: 15px;
}

.dropdown-menu {
  margin: 42px 0px 0px 20px !important;
  padding: 0px !important;
  min-width: 180px !important;
}

.dropdown-toggle {
  padding: 10px !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: white !important;
}

.navbar-default .navbar-nav>.open>a {
  color: white !important;
}

#signedIn {
  width: 50%;
}

#signedIn img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 15px;
}

#signout {
  text-align: center !important;
}

#nav-link a {
  padding: 30px 40px 30px 0px !important;
  color: var(--blue) !important;
}

/* END Navbar styling  */
/* Customize scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--fivePxRadius);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--fivePxRadius);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Styles for admin portal */
/******************************************************************************/
.templateBodyAdmin {
  height: var(--templateBodyAdmin-h);
}

.templateBodyUser {
  margin-top: 10px !important;
  height: var(--templateBodyUser-h);
  width: var(--templateBodyUser-w) !important;
}

.admin {
  width: var(--templateAdmin-w);
  height: auto;
}

.user {
  width: var(--template-w);
  height: auto;
  padding-bottom: 15px;
}

.template:focus {
  outline: none;
}

/* Styles for search logs */
/******************************************************************************/
.logs {
  text-align: left;
  margin: 3em;
}

/* Styles for authentication page */
/******************************************************************************/
#welcome {
  font-family: var(--titleFont);
  text-align: center;
  font-size: 90px
}

#descriptionTitle {
  font-family: var(--arialFont);
  font-size: 20px;
}

#descriptionBody {
  font-family: var(--arialFont);
  font-size: 16px;
  text-align: justify;
  max-width: 380px;
  padding: 15px 25px 35px 25px;
  margin: 0 auto;
  line-height: 30px;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('typewriter.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

hr {
  margin: 5px !important;
}

.login {
  min-height: 525px;
  min-width: 400px;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: white;
  text-align: center;
  margin: -250px 0 0 -200px;
  border-radius: var(--fivePxRadius);
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 1);
}

.stopAnimation {
  /*CSS transitions*/
  transition-property: none !important;
  /*CSS transforms*/
  transform: none !important;
  /*CSS animations*/
  animation: none !important;
}

.button {
  height: 70px;
  width: 350px;
  background-color: #43b9bc;
  color: white;
  border: none;
  font-size: 25px;
  font-family: var(--robotoFont);
  margin-bottom: 20px;
}

/* Loader */
.loader1, .loader2, .loader3 {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 50px auto;
  background: white;
  border-radius: 50px;
}

.loader1 {
  -webkit-animation: lading1 1s infinite alternate;
  -moz-animation: loading1 1s infinite alternate;
  animation: loading1 1s infinite alternate;
  animation-delay: .25s;
}

.loader2 {
  -webkit-animation: lading2 1s infinite alternate;
  -moz-animation: loading2 1s infinite alternate;
  animation: loading2 1s infinite alternate;
  animation-delay: .5s;
}

.loader3 {
  -webkit-animation: lading3 1s infinite alternate;
  -moz-animation: loading3 1s infinite alternate;
  animation: loading3 1s infinite alternate;
  animation-delay: .75s;
}

@keyframes loading1 {
  0% {
    background: var(--green);
  }

  100% {
    background: white;
  }
}

@keyframes loading2 {
  0% {
    background: var(--yellow);
  }

  100% {
    background: white;
  }
}

@keyframes loading3 {
  0% {
    background: var(--blue);
  }

  100% {
    background: white;
  }
}

/**
 * Styles for users
 */
.userTable {
  width: 90%;
  display: grid;
  margin: auto;
  padding-top: 4%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.userProfileContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid black;
  border-radius: var(--fivePxRadius);
  margin: 10px;
}

.userProfile {
  border: 1px solid var(--lightGray);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#userName {
  position: relative;
  text-align: left;
  font-weight: 600;
  font-family: var(--titleFont);
  font-size: 50px !important;
}

.userProfileContainer img {
  border-radius: 50%;
  margin: 15px;
}

/**
 * Styles for quotes
 */
.center {
  margin: 0 auto;
  text-align: center;
  width: 85vw;
}

.license {
  display: grid;
  margin: auto;
  grid-template-columns: .25fr .25fr .25fr .25fr .25fr .25fr .25fr .25fr .25fr;
}

.rebate {
  display: grid;
  margin: auto;
  grid-template-columns: .25fr .25fr .25fr .25fr;
}

.license div {
  border-top: dashed 1px black;
  border-right: dashed 1px black;
}

.rebate div {
  border-top: dashed 1px black;
  border-right: dashed 1px black;
}

.us, .uk, .ca, .fr, .jp, .au, .ie, .nz, .sg, .za {
  font-family: var(--robotoFont);
}

a.us, a.uk, a.ca, a.fr, a.jp, a.au, a.ie, a.nz, a.sg, a.za {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.us {
  color: var(--green);
}

.uk {
  color: var(--blue);
}

.ca {
  color: var(--orange);
}

.fr {
  color: var(--purple);
}

.jp {
  color: var(--cyan);
}

.au {
  color: var(--teal);
}

.ie {
  color: var(--cyan);
}

.sg {
  color: var(--orange);
}

.nz {
  color: var(--purple);
}

.za {
  color: var(--drkblue);
}

.currencyTable, .subjectsTable, .objectsTable, .licensesTable, .rebatesTable {
  font-size: 17px !important;
  margin-bottom: 25px;
  border-left: dashed 1px black;
  border-bottom: dashed 1px black;
}

.currencyTable {
  display: grid;
  margin: auto;
  grid-template-columns: .2fr .2fr .2fr .75fr;
  border-left: dashed 1px black;
  border-bottom: dashed 1px black;
}

.subjectsTable {
  display: grid;
  margin: auto;
  grid-template-columns: 0.25fr 1.75fr;
  border-left: dashed 1px black;
  border-bottom: dashed 1px black;
}

.objectsTable {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr .75fr;
  border-left: dashed 1px black;
  border-bottom: dashed 1px black;
}

.rebatesTable {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr .75fr 1fr;
  border-left: dashed 1px black;
  border-bottom: dashed 1px black;
}

.currencyTable div, .subjectsTable div, .objectsTable div, .rebatesTable div {
  border-top: dashed 1px black;
  border-right: dashed 1px black;
  line-height: 20px !important;
  padding: 10px;
}

/* Styling for scruffy */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scruffy {
  width: 300px;
  height: 200px;
  position: relative;
}

.scruffy-head {
  width: 150px;
  height: 140px;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: calc(50% - 50px);
  background-color: #efc092;
  border-radius: 50%;
}

.scruffy-head:before,
.scruffy-head:after {
  content: "";
  width: 80px;
  height: 78px;
  position: absolute;
  z-index: 5;
  top: 53px;
  background-color: #efc092;
  border-radius: 50%;
}

.scruffy-head:before {
  left: -7px;
  transform: rotate(50deg);
}

.scruffy-head:after {
  right: -7px;
  transform: rotate(-49deg);
}

.scruffy-mouth {
  width: 91px;
  height: 61px;
  background-color: #fee2d2;
  position: absolute;
  bottom: -2px;
  left: 29px;
  z-index: 10;
  border-radius: 50%;
}

.scruffy-eye-left {
  width: 26px;
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 44px;
  left: 34px;
  border-radius: 50%;
  z-index: 10;
  transform: rotate(28deg);
}

.scruffy-eye-right {
  width: 26px;
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 44px;
  left: 90px;
  border-radius: 50%;
  z-index: 10;
  transform: rotate(-28deg);
}

.scruffy-eye-right-white {
  width: 11px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 103px;
  border-radius: 50%;
  z-index: 10;
  transform: rotate(-28deg);
}

.scruffy-eye-left-white {
  width: 11px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 36px;
  border-radius: 50%;
  z-index: 10;
  transform: rotate(28deg);
}

.scruffy-ears {
  width: 43px;
  height: 77px;
  position: absolute;
  z-index: 0;
  top: -11px;
  left: 99px;
  border-radius: 150px 0 150px 0;
  background-color: #efc092;
}

.scruffy-ears:after {
  content: "";
  width: 39px;
  height: 18px;
  position: absolute;
  z-index: 0;
  top: 14px;
  left: 6px;
  border-radius: 150px 0 150px 0;
  transform: rotate(-220deg);
  background-color: #fee2d2;
}

.scruffy-tongue {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 24px;
  left: calc(50% - 13px);
  background-color: #f4a4ad;
  border-radius: 0 0 10px 10px;
}

.scruffy-nose {
  width: 16px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: calc(50% - 8px);
  background-color: #000;
  border-radius: 50%;
}