body {
  background-color: white;
}

p {
  font-family: "Arial";
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold !important;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic !important;
  color: lightgrey !important;
}

#header {
  text-align: center;
  font-family: "Arial";
  padding: 3% 3% 1% 3%;
}

#title, #sub-title, #author {
  margin: 0;
}

#title {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
}

#author {
  font-size: 18px;
  letter-spacing: 2px;
  font-style: italic;
  padding-top: 5px;
}

#data-table {
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-size: 15px;
}

#search-bar {
  width: 100%;
}

#element {
  display: inline-block;
  width: 400px;
  height: 500px;
  margin: 10px;
  padding: 2em;
  margin: 1em;
  text-align: left;
  border-radius: 8px;
  box-shadow: 2px 2px 15px lightgrey;
}

.options {
  display: inline-block;
}

.space {
  padding: 1.5em;
}

.skills {
  color: #00aeef;
}

.signingIn {
  color: #686868;
}

.smartScore {
  color: #ffcb0a;
}

.analytics {
  color: #7dbb02;
}

.center {
  text-align: center;
  display: block;
}

.key {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: block;
  padding: 0.5em;
}


/* NOTE: Chang glow of search box */

.form-control:focus {
  border-color: #00aeef;
}

/* NOTE: Creates space between links at bottom */

.links a {
  font-size: 18px;
  color: #00aeef;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  padding: 3em;
}
