<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="google-signin-client_id" content="576807313160-uaslvsnfdms05fq2082qq8a6sns7ebkm.apps.googleusercontent.com">
  <link rel='stylesheet' href='/auth-styles.css'>
  <!-- Bootstrap -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Rubik+Mono+One' rel='stylesheet'>
  <title>QR Search - Sign-in</title>
</head>

<body>
  <div class="login-page">
    <div class="form">
      <h2>Welcome, please sign in.</h2>
      <form class="login-form">
        <input type="text" placeholder="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
        <input type="password" placeholder="password" />
        <button href="/auth/google">Submit</button>
      </form>
      <form class="google-auth" action="/auth/google">
        <button> <i class="fab fa-google"></i> Sign in with Google</button>
      </form>
      <p class="message">Having trouble? <a href="slack://channel?id=U6ZR4CQH4&team=T02QNE2AJ">Reach us in Slack</a></p>
    </div>
  </div>
</body>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src='authenticate.js'></script>

</html>