<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="google-signin-client_id" content="576807313160-uaslvsnfdms05fq2082qq8a6sns7ebkm.apps.googleusercontent.com">
  <link rel='stylesheet' href='/styles.css'>
  <!-- Bootstrap -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Gothic+A1:200|Roboto:100" rel="stylesheet">
  <title>Fetch - Sign in</title>
</head>

<body>
  <div class='background'>
    <div class="login">
      <h1 id="welcome">Fetch</h1>
      <hr>
      <p id="descriptionTitle">Your templates. Organized.</p>
      <p id="descriptionBody">Fetch is a place for you and your team to create, organize, access, and copy template responses for your customers. Fetch learns what you use the most and makes it easy to search for what you need. To get started, just sign in with your IXL Google
        account.
      </p>
      <form class="google-auth" action="/auth/google">
        <button class="button">Sign in with Google</button>
      </form>
    </div>
  </div>
</body>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</html>