<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='/styles.css'>
  <!-- Bootstrap minified CSS -->
  <link rel='stylesheet' href='bootstrap.min.css'>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Roboto" rel="stylesheet">
  <% if(user.email == 'mjenkins@ixl.com'){ %>
  <title>CS3K</title>
  <% } else { %>
  <title>Fetch</title>
  <% }%>
</head>

<body>
  <%- include include/scruffy %>
</body>
<script src='tinymce/tinymce.min.js'></script>
<script src='jquery.min.js'></script>
<script src='app-main.js'></script>
<script src='search.js'></script>
<script src='bootstrap.min.js'></script>
<script>
  var currencyArray = <%- JSON.stringify(currency) %>;
  var licensesArray = <%- JSON.stringify(licenses) %>;
  var objectsArray = <%- JSON.stringify(objects) %>;
  var buildingQuote = false;
  var spanishClicked = false;
  var templateId = "";
  var tempArray = [];
  var quoteArray = [{
    "countryCode": null,
    "subjectQuantity": null,
    "subjectQuantityName": null,
    "numberLicenses": null,
    "spanishCost": null,
    "rebateEndDate": null,
    "rebateName": null,
    "cost": null,
    "currencySymbol": null,
    "type": null
  }];
</script>

</html>