<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='/styles.css'>
  <!-- Bootstrap -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Rubik+Mono+One' rel='stylesheet'>
  <title>Helios - Add User</title>
</head>

<body>

  <!-- 'Add new template' modal -->
  <div class='modal fade' id='add-template' tabindex='-1' role='dialog' aria-labelledby='Add template' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        </div>

        <div class='new-template'>
          <form action='/add-template' method='POST'>
            <div class='form-group'>
              <label for='name'>Template Name</label>
              <input type='text' class='form-control' id='name' name='name' required='true'>
            </div>
            <div class='form-group'>
              <textarea name='editor' rows='10' cols='80' id='editor'></textarea>
            </div>
            <div class='form-group'>
              <label for='type'>Category</label>
              <select class='form-control' id='category' name='category'>
                <option disabled selected value> -- Select category -- </option>
                <option>Skills</option>
                <option>Signing In</option>
                <option>SmartScore</option>
                <option>Analytics</option>
               </select>
            </div>
            <div class='form-group'>
              <label for='type'>Type</label>
              <select class='form-control' id='type' name='type'>
                <option disabled selected value> -- Select type -- </option>
                <option>Template</option>
                <option>Note</option>
                <option>Instruction</option>
                <option>Code</option>
               </select>
            </div>
            <div class='form-group'>
              <label for='name'>Tags</label>
              <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
            </div>
            <button type='submit' class='btn btn-primary'>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->

  <!-- 'Update template' modal -->
  <div class='modal fade' id='update-template' tabindex='-1' role='dialog' aria-labelledby='Update template' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        </div>

        <div class='update-template'>
          <form>
            <div class='form-group'>
              <label for='name'>Template Name</label>
              <input type='text' class='form-control' id='findName' name='findName' required='true'>
              <input type='text' class='form-control' id='newName' name='newName' required='true'>
              <button type='submit' class='btn btn-primary' id="update">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->

  <!-- Navbar -->
  <nav class='navbar navbar-default'>
    <div class='container-fluid navbar-right'>
      <ul class='nav navbar-nav'>
        <li><a id='' href='http://localhost:3000/templates'>Templates</a></li>
        <li><a id='' href='http://localhost:3001/users'>Users</a></li>
        <li><a id='' href='#add-template' data-toggle='modal' data-target='#add-template'>New template</a></li>
        <li><a id='' href='#add-template' data-toggle='modal' data-target='#add-template'>Sign in</a></li>
      </ul>
    </div>
  </nav>
  <!-- End navbar -->

  <!-- Header -->
  <div id='header'>
    <p id='title'>Users</p>
  </div>
  <!-- End header -->


</body>

<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=q4w1ytxm4ft7tl8tg92mbys2kh30beuux061ovviw4oc4pqo'></script>
<script src='main.js'></script>
<script src='search.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</html>
