<div class="dropdown">
  <button onclick="showOptions()" class="filterButtonStyle">Program&#9207;</button>
  <div id="myDropdown" class="dropdown-content">
    <% for(var k = 0; k < programs.length; k++) { %>
      <a onclick="handleFilterClick(event)" id="programFilter"><%= programs[k] %></a>
    <% } %>
  </div>
</div>
<button class="filterButtonStyle" type="button" name="button" onclick="handleFilterClick(event)" id="personalFilter">Personal</button>
<button class="filterButtonStyle" type="button" name="button" onclick="handleFilterClick(event)" id="resetFilter">Reset</button>
