<!-- NOTE: Fetch header for each view -->
<div class="header">
  <div class="row space">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <h1 id="title"><span id="f">F</span><span id="e">e</span><span id="t">t</span><span id="c">c</span><span id="h">h</span></h1>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <h4 id="subtitle">Craft. Collect. Communicate.</h4>
</div>