<!-- NOTE: Fetch header for each view -->
<div class="header">
  <div id="title">Fetch</div>
  <div class="scruffy-the-dog">
    <img class="scruffy" id="scruffy" src="scruffy.svg" alt="Scruffy the dog - Artwork by Amy Dolce" title="Scruffy the dog - Artwork by Amy Dolce">
    <img class="scruffy-surprised" id="scruffySurprised" src="scruffy-surprised.svg" alt="Scruffy the dog - Artwork by Amy Dolce" title="Scruffy the dog - Artwork by Amy Dolce">
  </div>
</div>
<div id="subtitle">
  <%= subtitle %>
</div>
