<div class="header">
  <div class="row space">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <h1 id="title">Fetch</h1>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <h4 id="subtitle">Your templates. Organized.</h4>
</div>