<nav class='navbar navbar-default'>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
      <img class="profile-img" src="<%= user.img %>" alt=""></a>
        <ul class="dropdown-menu">
          <li>
            <% if (user) { %>
              <li id='navGreeting'>Hello
                <span id="userFirstName"><%= user.name %></span>!
                <h5 id="userEmail"><%= user.email %></h5>
                <h5 id="userTeam" hidden><%= user.team %></h5>
              </li>
              <% } %>
          </li>
          <li class="divider"></li>
          <li><a href='#manageTemplates' data-toggle='modal' data-target='#manageTemplates' onclick='setTemplateId()'> Add a template</a></li>
          <!-- Start if statement-->
          <% if (user.type == 'admin') { %>
            <li><a href="/templates">User Console</a></li>
            <li><a href="/admin/logs">Search logs</a></li>
            <li><a href="/errors">Errors</a></li>
            <% } %>
              <!-- End if statement -->
              <!-- All users will see logout button -->
              <li class="divider"></li>
              <li id="logout"> <button class="btn btn-danger btn-sm" type="button" name="button" onclick="location.href = '/logout';">Logout</button></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (user.team == 'techSupport') { %>
        <li id="nav-link"> <a href="https://docs.google.com/document/d/19HYG9WQJ3L9I4XI1KtYMnaEYqsFYeYDNBe7zI2tYs2k/edit" target="_blank">QR</a></li>
        <% } %>
    </ul>
  </div>
</nav>