<img src="scruffy.jpg" alt="" width="300px" style="transform: rotate(90deg)">
<div class="scruffy">


  <div class="scruffy-head">
    <div class="scruffy-right-ear">

    </div>
    <div class="scruffy-left-ear">

    </div>
    <div class="scruffy-right-eye">

    </div>
    <div class="scruffy-left-eye">

    </div>
    <div class="scruffy-nose">

    </div>
    <div class="scruffy-mouth">

    </div>
    <div class="scruffy-tongue">

    </div>

  </div>
  <div class="scruffy-body">

  </div>
  <div class="scruffy-left-leg">

  </div>
  <div class="scruffy-right-leg">

  </div>
  <div class="scruffy-tail">

  </div>
</div>