<div class="container">
  <div class="scruffy">
    <div class="scruffy-head">
      <div class="scruffy-ears ears-left"></div>
      <div class="scruffy-ears ears-right"></div>
      <div class="scruffy-eye-left"></div>
      <div class="scruffy-eye-right"></div>
      <div class="scruffy-eye-left-white"></div>
      <div class="scruffy-eye-right-white"></div>
      <div class="scruffy-mouth">
        <div class="scruffy-nose"></div>
        <div class="scruffy-tongue"></div>
      </div>
    </div>
    <div class="scruffy-tail"></div>
    <div class="scruffy-body">
      <div class="scruffy-foot"></div>
    </div>
    <div class="ball"></div>
  </div>
</div>