<div class='space'>
  <div class="searchBarRow">
    <div class='form-group has-feedback has-clear'>
      <span id="clear-search">x</span>

      <input type='text' class='form-control input-lg' id='search-bar' autofocus="autofocus" placeholder='Search' spellcheck='false'>


      <span class="quickAccess" id="quickAccess">
        <a href='#manageTemplates' data-toggle='modal' data-target='#manageTemplates' onclick='setTemplateId()'>

          &#x2b;
        </a>
      </span>

      <span id="templateCount">
      </span>
    </div>
  </div>
</div>

<div class="row space">

</div>
