<div class='row space'>
  <div class="searchBarRow">
    <div class='form-group has-feedback has-clear'>
      <span id="clear-search">x</span>

      <input type='text' class='form-control input-lg' id='search-bar' autofocus="autofocus" placeholder='Search' spellcheck='false'>

      <span id="quickAccess">&#x2039;</span>

      <span id="templateCount">
      </span>
    </div>


    <div class="quickAccessObjectsHide" id="quickAccessObjects">

      <% for(k = 0; k < 4; k ++){ %>
      <% if (typeof user.toObject().quickAccess[k] === 'undefined') { %>
      <div class="quickAccessObjEmpty" id="empty">
      </div>

      <% } else { %>
      <div class="quickAccessObj" id="<%= user.toObject().quickAccess[k].id %>">
        <%= user.toObject().quickAccess[k].name.trim() %>
      </div>

      <% } %>
      <% } %>
    </div>


  </div>

</div>

<div class="row space">

</div>