<div class='row space'>
  <div class='col-lg-4 col-md-2 col-sm-2'></div>
  <div class='col-lg-4 col-md-8 col-sm-8'>
    <div class='form-group has-feedback has-clear'>
      <input type='text' class='form-control input-lg' id='search-bar' autofocus="autofocus" placeholder='Search' spellcheck='false'>
      <span id="clear-search">x</span>
      <span id="templateCount"></span>
    </div>
    <div class="quickAccess">
    </div>
  </div>
  <div class='col-lg-4 col-md-2 col-sm-2'>
  </div>
</div>
