<div class='modal fade' id='snippetsView' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <ul class="nav nav-tabs">
          <li class="active" id="originalSnippetTab"><a data-toggle="tab" href="#versionOriginalSnippetPill" id="versionOriginalPill">Original</a></li>
          <li id="originalSnippetTab0"><a data-toggle="tab" href="#version0Snippet" id="version0SnippetTitle">Version1</a></li>
          <li id="originalSnippetTab1"><a data-toggle="tab" href="#version1Snippet" id="version1SnippetTitle">Version2</a></li>
          <li id="originalSnippetTab2"><a data-toggle="tab" href="#version2Snippet" id="version2SnippetTitle">Version3</a></li>
          <li id="originalSnippetTab3"><a data-toggle="tab" href="#version3Snippet" id="version3SnippetTitle">Version4</a></li>
        </ul>
        <div class="tab-content">
          <div id="versionOriginalSnippetPill" class="tab-pane fade in active">
            <div class="" id="snippetsBody" contenteditable="true">
            </div>
          </div>
          <div id="version0Snippet" contenteditable="true" class="tab-pane fade">
          </div>
          <div id="version1Snippet" contenteditable="true" class="tab-pane fade">
          </div>
          <div id="version2Snippet" contenteditable="true" class="tab-pane fade">
          </div>
          <div id="version3Snippet" contenteditable="true" class="tab-pane fade">
          </div>
        </div>
      </div>
      <div class='modal-footer' id='snippetsModal'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Done</button>
      </div>
    </div>
  </div>
</div>