<div class='modal fade' id='snippetsView' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <div id="snippetsBody" contenteditable="true">
        </div>
      </div>
      <div class='modal-footer' id='snippetsModal'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Done</button>
      </div>
    </div>
  </div>
</div>