<div class='modal fade' id='snippetsView' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <ul class="nav nav-tabs" id="snippetTitles">
          <li class="active"><a data-toggle="tab" href="#version0Snippet" id="version0SnippetTitle">Main</a></li>
          <li><a data-toggle="tab" href="#version1Snippet" id="version1SnippetTitle">Version1</a></li>
          <li><a data-toggle="tab" href="#version2Snippet" id="version2SnippetTitle">Version2</a></li>
          <li><a data-toggle="tab" href="#version3Snippet" id="version3SnippetTitle">Version3</a></li>
          <li><a data-toggle="tab" href="#version4Snippet" id="version4SnippetTitle">Version4</a></li>
        </ul>
        <div class="tab-content">
          <div id="version0Snippet" contenteditable="true" class="tab-pane fade in active"></div>
          <div id="version1Snippet" contenteditable="true" class="tab-pane fade"></div>
          <div id="version2Snippet" contenteditable="true" class="tab-pane fade"></div>
          <div id="version3Snippet" contenteditable="true" class="tab-pane fade"></div>
          <div id="version4Snippet" contenteditable="true" class="tab-pane fade"></div>
        </div>
      </div>
      <div class='modal-footer' id='snippetsModal'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Done</button>
      </div>
    </div>
  </div>
</div>
