-------------------------------------------------------------------------------
*                                                                             *
*                                                                             *
*                                                                             *
*                     Helios - Quick Reference Search                         *
*                                                                             *
*                                                                             *
*                                                                             *
-------------------------------------------------------------------------------

Helios stores a database of elements that can be quickly
searched using a key word or phrase. The application shows, in real-time, the
results of the search and allows users to copy the content for use in customer
e-mails. As users copy content, the app learns what is used the most and displays
that template first for a user. Uses Java, HTML, CSS, Javascript

Admin users can add, remove, or edit existing elements to customize
the quick reference for personalized use.

Model, View, Controller Design:

Model: Data storage, integrity, consistency, queries, and mutations.
Controller: Receive, interpret and validate input; create and update views; query and modify models.

Use Case #1
User
User Opens program and cursor is placed in Text Box
Program shows grid of templates, organized by category/color
Each template in the grid shows the title and a preview of the content

Use Case #2
User begins typing a keyword in the search box
Grid of quick reference items updates to show only items that match the keyword or phrase

Use Case #3
Once user sees desired information, they click the body to copy the template

Use Case #4
Admin clicks plus symbol to add new template, all fields are entered and admin clicks submit. Template is added and page is refreshed to show new templates

Use Case #5
User clicks template to copy, ranking is increased by one, unordered list is updated to sort templates by rank.

Use case #6
edit and delete

Each draft/template has the following fields:
lastModifiedDate, tags (as an array), category, approvalStatus(public, private, approved, etc), type (note, instructions, code), Template #

Milestones:
Custom templates for each user (w/ Google SSO)

Ideas:
Create multiple versions of one item (account expired - student, account expired - parent, etc)
Add your own custom templates (required Google sign in)
User (name, googleID, team, imageLocation, type (admin, user, etc.), preferredClosing)
When specified (by stating item as a snippet, or template) first line changes. Or header and signature are ignored (i.e., )
