-------------------------------------------------------------------------------
*                                                                             *
*                                                                             *
*                     Helios - Quick Reference Search                         *
*                                                                             *
*                                                                             *
-------------------------------------------------------------------------------

Helios stores a database of elements that can be quickly
searched using a key word or phrase. The application shows, in real-time, the
results of the search and allows users to copy the content for use in customer
e-mails. As users copy content, the app learns what is used the most and displays
that template first for a user. Uses Java, HTML, CSS, Javascript

Admin users can add, remove, or edit existing elements to customize
the quick reference for personalized use.

Use Case #1
User opens the site and is redirected to sign in with their Google account if they have not authenticated previously. Once the user has been authenticated, they will be redirected to the main page at index.ejs.

When the page loads, the text cursor is focused in the search field and a list of templates are ranked in order from highest to lowest and displayed for the user.

For a user, each template will show:
- Title
- Alphanumeric ID
- Last updated date
- Copy all, Copy portion
- Template body
- Tag
- Category

If the user has added a template, then the template will have Edit and Remove access.

Use Case #2
Administrator signs in to their account, clicks on their profile, and selects Admin console from their account menu.

For the administrator, each template will show:
- Title (Verified templates will have a green check mark)
- Alphanumeric ID
- Last updated date
- Copy all, Copy portion, Edit, Clear rank, and Remove buttons
- Template body
- Tag
- Category


Use Case #3
Once user sees desired information, they click the body to copy the template

Use Case #4
Admin clicks plus symbol to add new template, all fields are entered and admin clicks submit. Template is added and page is refreshed to show new templates

Use Case #5
User clicks template to copy, ranking is increased by one, unordered list is updated to sort templates by rank.

Use case #6
edit and delete
